* {
  padding: 0;
  margin: 0;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

.algae {
  background-color: #94efa2;
  position: relative;
  background-image: url("../public/space.png");
  background-size: 100vw 100vw;
  height: 100vh;
}

.div1 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-weight: bold; */
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 100%;
  height: 100vh;
}

.sth1 {
  font-size: 5.5vw;
  background-color: #ddd;
  padding: 8px 24px;
  border-radius: 14px;
}
.div1:nth-child(1) {
  background-image: url("../public/space1.png");
  background-size: cover;
  background-position: center;
}

#gameBlock {
  background-color: rgb(114, 157, 206);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 100%;
  height: 100vh;
}

#mountain {
  position: absolute;
  bottom: 0px;
  height: 40vh;
  width: 100%;
  z-index: 2;
}

#rocket {
  position: absolute;
  bottom: 205px;
  left: 280px;
  height: 70px;
  width: 70px;
  z-index: 1;
}

.div1:nth-child(3) {
  background-image: url("../public/space.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.door {
  background-image: url("../public/space.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.credential {
  overflow-x: scroll;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  display: flex;
  justify-content: space-around;
  height:95vh;
  align-items: center;
}
.credential::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
}

.Head {
  background-image: linear-gradient(
    140deg,
    rgba(4, 56, 91, 1) 0%,
    rgba(211, 16, 228, 1) 81%,
    rgba(255, 0, 124, 0.9659745065789473) 100%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@media screen and (min-width: 1200px) {
  .sth1 {
    font-size: 65px;
  }

  #mountain {
    position: absolute;
    bottom: 0px;
    height: 55vh;
    width: 100%;
  }

  .sth1:nth-child(2) {
    margin-bottom: 00px;
  }

  #rocket {
    position: absolute;
    bottom: 50vh;
    left: 50vw;
    height: 90px;
    width: 100px;
  }
}
